/* resertando todas as regas de css */

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;

}

/* estilizando com css ↓ ↓ */

:root {
    --orange: #f78b88;
    --blue: #00228f;
    --gray: #ededed;

}

/* Estilizando o background e afins ↓ ↓ */

html,
body {

    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

}

header {
    width: 100%;
    height: 1000px;
    background: #f78b88;
}


/* Estilizando o titulo e afins ↓ ↓ */

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}



nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 24px;
    color: var(--blue);
    cursor: pointer;
}


nav a {

    color: var(--blue);
    text-decoration: none;
    
}

nav ul {
    display: flex;
    flex-direction: row;

}

nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

nav ul li a {
    color: var(--blue);
    text-decoration: none;

}

nav ul li a:hover {
    color: #00228f;
}

nav ul button {
    border: 1px solid var(--blue);
    background: transparent;
    padding: 8px 40px;
    margin-left: 30px;
    cursor: var(--blue);
    font-weight: bold;
    border-radius: 4px;
}

nav ul button:hover {

    transition: background, color 0.6s;
    background: var(--blue);
    color: white;

}


.content .header-block {
    max-width: 100%;
    min-width: 300px;
    height: 450px;
    background:rgb(222, 99, 193);
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
    padding: 10px;
  }

/* depois */

.header-block img {
    width: 55%;
    position: absolute;
    right: 2%;
    bottom: 10%;
    object-fit: cover;
    border: 10px solid #fff;
}



/* texto e Titulo */

.header-block .text {
    width: 55%;
    position: left;
    bottom: 200%;
    left: 200%;
  }


.header-block .text h2 {
    color: white;
    margin-right: 48%;
    text-align: right;
    transform: translateX(-20px);
    transition: tranform 0.5s;
    margin-top: 5%;
}

.header-block .text p {

    max-width: 350px;
    margin-left: 10%;
    color: white;
    position: left;
    text-align: center;
    transform: translateX(-20px);
    transition: transform 0.4s;
  }

/* slide abaixo */

audio {

text-decoration: none;

}






